<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="loginDao">

	<select id="getIsUserIDAvail" resultType="String">
		SELECT CASE COUNT(*)
		         WHEN 0
		         THEN 'N'
		         ELSE 'Y'
		       END AS AVAIL_YN
		  FROM HIST_EMP
		 WHERE USR_ID = #{USR_ID}
	</select>
	
	<select id="getIsUserHashedPassword" resultType="String">
		SELECT PSWD
		  FROM HIST_EMP
		 WHERE USR_ID = #{USR_ID}
	</select>
	
	<select id="getUserInfo" resultType="java.util.HashMap">
		SELECT 	EMP_NUM,
				EMP_NM
		  FROM 	HIST_EMP
		 WHERE 	USR_ID = #{USR_ID}
	</select>
	
	<insert id="insertUserLoginLog">
		INSERT INTO TB_COM_CD200_LOG
		(
			  LOG_NO
			  ,USR_ID
			  ,LOG_RESULT_CD
			  ,CNCTS_IP
			  ,REG_DTM
		)
		VALUES
		(
			SQ_COM_USER_LOG_01.NEXTVAL
			,#{USR_ID}
			,#{LOG_RESULT_CD}
			,#{CNCTS_IP}
			,TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
		)
	</insert>
</mapper>