.air-title>h4 {
    float: left;
    background: url("../image/h1_line.gif") no-repeat left center;
    padding-left: 15px;
}
.air-header {
    background-color: #e6e6e6;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.container {
    width: 100% !important;
}
.form-air { 
    text-align: left;
    border: 1px solid #AAADB2 !important;
    /* background-color: #FFFFFF; */
    
    background-image: none;
    border-radius: 0px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555 !important;
    /* display: block; */
    
    font-size: 12px !important;
    height: 22px !important;
    width: 100%;
    line-height: 1.42857 !important;
    padding: 0px 4px 0px 4px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
.form-air[disabled] {
    background-color: #E0E0E0;
    opacity: 100;
}
.form-air-menu {
    display: block;
    width: 100%;
    line-height: 1.428571429 !important;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
    font-size: 16px !important;
    height: auto;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.air-search span,
.air-search label {
    /* 	float:left; */
}
.air-search {
    /* 	line-height: 26px */
}
.air-body {
    padding-top: 10px
}
#main-modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 575px;
    left: 40%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: absolute;
    top: 20%;
    width: 500px;
    z-index: 1000;
}
#main-modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity 50);
    z-index: 1000;
}
#main-modal-background.active,
#main-modal-content.active {
    display: block;
}
#modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: 575px;
    left: 30%;
    margin: -120px 0 0 -160px;
    padding: 10px;
    position: absolute;
    top: 20%;
    width: 500px;
    z-index: 1000;
}
#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .50;
    -webkit-opacity: .5;
    -moz-opacity: .5;
    filter: alpha(opacity 50);
    z-index: 1000;
}
#modal-background.active,
#modal-content.active {
    display: block;
}
.bootbox-prompt .modal-dialog {
    width: 400px;
    margin-left: auto !important;
    margin-top: 100px !important;
    margin-right: 0px;
}
h4.modal-title {
    font-size: 16px;
}
.input_warning {
    background-color: #FFCCCC;
}
.handsontable .htDimmed {
    background: #fff4e2;
    color: #5E5E5E;
}
.handsontable .currentRow {
	/*
    background-color: #ff0000!important;
	*/
    background-color: rgba(207, 213, 245, 0.5);
}
.handsontable .fill {
    background-color: rgba(207, 213, 245, 0.5)!important;
}
.handsontable .current {
    background-color: #fbf2f8 !important;
    box-shadow: 0 0 1px 1px #b1abe2 inset;
}
.handsontableEditor .htCore {
    width: auto !important
}
.handsontableInputHolder {
    width: 0px
}
.handsontableEditor .wtHider {
    width: auto
}
.handsontable .manualColumnResizerHandle {
    height: 49PX;
}
.handsontable thead th {
    background-color: rgba(207, 226, 255, 0.5) !important;
}
.handsontable tbody th {
    background-color: rgba(236, 214, 191, 0.5) !important;
}
.handsontable th,
table th span {
    font-size: 12px
}
.handsontable .htAutocompleteArrow {
    color: #D8B6B6;
    font-size: 12px;
}
.handsontable {
    /* 	margin-top: 0px; */
    
    clear: both;
}
.handsontable th {
    font-weight: bold;
    vertical-align: middle;
    color: #6f6f6f;
}
.handsontable th,
.handsontable td {
    border-bottom: 1px solid #CCC;
    height: 22px;
    empty-cells: show;
    line-height: 21px;
    padding: 0 4px 0 4px;
    background-color: #FFF;
    overflow: hidden;
    outline-width: 0;
    white-space: pre-line;
    color: grey;
}
.handsontable th,
.handsontable td {
    border-left: none !important;
    border-right: none !important;
}
.handsontable td:first-child,
.handsontable .htNoFrame+th,
.handsontable .htNoFrame+td {
    border-left: none;
    color: grey;
}
.handsontable .currentCol {
    background-color: #F9F9FB;
}
.panel-heading h4 {
    font-size: 18px;
    font-weight: 400;
}
.popup-sm .panel-title>b {
    background: url("../image/h1_line.gif") no-repeat left center;
    padding-left: 15px;
    float: none !important;
    cursor: pointer;
}
/*
* spinner

.spinner {
    margin: 100px auto;
    width: 20px;
    height: 20px;
    position: relative;
}
.container1>div,
.container2>div,
.container3>div {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}
.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.circle1 {
    top: 0;
    left: 0;
}
.circle2 {
    top: 0;
    right: 0;
}
.circle3 {
    right: 0;
    bottom: 0;
}
.circle4 {
    left: 0;
    bottom: 0;
}
.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}
*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgba(51,51,51,1);
  height: 60px;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@ -webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@ keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale (1 .0);
        -webkit-transform: scale (1 .0);
    }
}
.modalInputLabel_md {
	width: 120px;
}

/***
	For expanded column size 161116 by ckim
**/
.modalInputLabel_agt {
	width: 152px;
}
/***
	button style
**/

.btn-11st-logout {
    background: linear-gradient(#ef7453, #e45138);
    border-color: #e45138;
}
.btn-11st-userinfo {
    background: #586ce6;
    border-color: #586ce6;
}
.btn-11st-userinfo:hover {
    color: #abeaff;
    background: #586ce6;
    border-color: #586ce6;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
    padding-top: 0px;
}
}
body {
    font-size: 13px;
}
h4,
.h4 {
    font-size: 18px;
    font-weight: bold;
    color: #5e6fd4;
}
h5,
.h5 {
    font-size: 16px;
    font-weight: bold;
    color: #6f77a0;
    background: url("../image/h5_line.gif") no-repeat left center;
    padding-left: 15px;
}
.search-btn-11st {
    margin: 5px 10px 0;
    background: linear-gradient(#16acd8, #1789ff);
    color: white;
    border-color: #16acd8;
    padding: 6px 15px;
}
.search-btn-11st:hover {
    margin: 5px 10px 0;
    background: linear-gradient(#28d46d, #40af81);
    border-color: #22b51f;
    color: white;
    padding: 6px 15px;
}
.search-row-11st {
    margin-top: 1px;
    width: 100%;
}
.ng-view-11st {
    padding-top: 5px;
    padding-left: 0px;
}
.left-grid-11st {
    padding-left: 0px;
    padding-top: 0px;
}
.top-grid-11st {
    padding-left: 15px;
    padding-top: 0px;
}
.btn-grid-11st {
    color: #695656;
    background-color: #ffffff;
}
.border-grid-11st {
    border: 1px solid #b5b7c7;
    border-top: 3px solid #586ce6;
}
.bg-grid-11st {
    background-color: whitesmoke;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #586ce6;
    border-color: #337ab7;
}
/*popup*/

.popup-bg-11st {
    background-color: #f3f3f3 !important;
}
.panel-heading>h3 {
    float: left;
    background: url("../image/h1_line.gif") no-repeat left center;
    padding-left: 15px;
    margin-left: 0px;
}
.panel-heading>h6 {
    float: left;
    padding-left: 0px;
    margin-left: 0px;
}
.popup-grid-11st {
    background-color: #ebe4db;
    border-radius: 0 !important;
}
.popup-grid-dft {
    background-color: #f3f3f3 !important;
    border: 0px !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
}
/*background-color: #f3f3f3 !important;
	border-right: 0px solid #f3f3f3 !important;
	border-top: 0px solid #f3f3f3 !important;
	border-bottom: 0px solid #f3f3f3 !important;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
	z-index: 	 !important;*/

.popup-grid-radius {
    border-radius: 0 !important;
}
.popup-btn-11st {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #d8d8d8;
}
.popup-btn-11st:hover {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: #b8bfe8;
    border-style: solid;
    border-color: #9aa1cc;
}
.exitBtn {
    color: #586ce6;
    font-weight: 100;
}
.exitBtn-account {
    color: #000000;
    font-weight: 100;
    font-size: 25px
}
.exitBtn:hover {
    color: #da3e00;
    font-weight: bold;
}
.close {
    padding: 5px 5px 0 0 !important;
    float: right;
    font-size: 30px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1.0;
}