.view-inner>.image_main>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
	z-index: -1;
}

.test_img_class {
	background: url("/resources/image/main01.jpg") center center no-repeat;
	width: 100vw;
	background-size: cover;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

/* navbar */
.hist-affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.topmenu {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100vw;
}

.navbar-hist {
	background-color: white;
	border-color: rgba(255, 255, 255, 0);
	text-align: -webkit-center;
}

.navbar-hist .navbar-nav>.open>a, .navbar-hist .navbar-nav>.open>a:hover,
	.navbar-hist .navbar-nav>.open>a:focus { */
	color: #fff;
	background-color: #70abc1;
}

.navbar-hist .navbar-nav>li>a {
	color: #51849e;
}

.navbar-hist .navbar-nav>li>a:hover, .navbar-hist .navbar-nav>li>a:focus
	{
	color: #00aeef;

	/*     background-color: transparent; */
}

@media (min-width: 768px) {
	.dropdown-menu {
	    background-color: #a3b4c0;
	    width: 100vw;
	}
	
}
@media (min-width: 992px) {
	.dropdown-menu {
	    background-color: #a3b4c0;
	    width: 100vw;
	}
	.navbar-hist .dropdown-menu>li>a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #4a5158;
		white-space: nowrap;
		font-size: 12px;
		width: 100vw;
	}
	.dropdown-menu > .has-children {
	    float: left;
	    border-right: 1px solid #93c2d3;
	    height: 200px;
	    margin-right: 0.5%;
	    width: 200px;
	}
	.navbar-nav > li {
		width: 120px;
	}
}
@media (min-width: 1200px) {
	.dropdown-menu {
	    background-color: #a3b4c0;
	    width: 100vw;
	}
	.navbar-hist .dropdown-menu>li>a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #4a5158;
		white-space: nowrap;
		font-size: 12px;
		width: 100vw;
	}
	.dropdown-menu > .has-children {
	    float: left;
	    border-right: 1px solid #93c2d3;
	    height: 200px;
	    margin-right: 0.5%;
	    width: 200px;
	}
	.navbar-nav > li {
		width: 120px;
	}
}

.section-title>h2 {
	padding-top: 30px;
	margin-top: 0px;
}

.section-title {
	text-align: center;
}

/* 2nd */
.business .col-sm-3 {
	margin-bottom: 20px;
	text-align: center;
}

.business .media {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
}

.business .col-sm-3 .p-home {
	font-size: 26px;
}

.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media ( min-width : 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

.bottom {
	background: #bbbbbb;
}

/* ==========================================================================
   Business Box
   ========================================================================== */
.boxset .section-title {
	margin-top: 20px;
}

.boxset .form-group {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
	margin-right: 10px;
	margin-left: 10px;
}

.boxset {
	background: #EEEEF2;
}

.media-body {
	padding-top: 15px;
	padding-left: 5px;
}

/* ==========================================================================
   about
   ========================================================================== */
.about_img_class {
	background: url("/resources/image/biz00.jpg") center center no-repeat;
	width: 100vw;
	background-size: cover;
	height: 500px;
	max-width: 100%;
	max-height: 100%;
}

/* ==========================================================================
   portfolio
   ========================================================================== */
.portfolio .btn {
	width: 120px;
	margin-top: 5px;
}

.portfolio {
	background: white;
}

.carousel-inner .media h2 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}

.col-md-3 {
	text-align: center;
}

.portfolio {
	background: #EEEEF2;
}

.carousel-inner {
	background: #EEEEF2;
}

/* ==========================================================================
   link
   ========================================================================== */
.link h4 {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 800;
	color: white;
}

.link {
	background: #78afc3;
}

.link .row {
	margin-top: 15px;
	margin-bottom: 10px;
}

/* ==========================================================================
   bottom
   ========================================================================== */
.btn-bttm {
	color: #4e6b77;
}

.btn-bttm:hover {
	color: #000000;
}

/* ==========================================================================
	MQ
	========================================================================== */
.col-xs-c-1, .col-sm-c-1, .col-md-c-1, .col-lg-c-1 {
	position: relative;
	min-height: 1px;
	padding-right: 2px;
	padding-left: 2px;
}

.col-xs-c-1 {
	width: 100%;
	float: left;
}

@media ( min-width : 768px) {
	.col-sm-c-1 {
		width: 100%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-c-1 {
		width: 100%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-c-1 {
		width: 100%;
		float: left;
	}
}

.col-xs-c-2, .col-sm-c-2, .col-md-c-2, .col-lg-c-2 {
	position: relative;
	min-height: 1px;
	padding-right: 2px;
	padding-left: 2px;
}

.col-xs-c-2 {
	width: 50%;
	float: left;
}

@media ( min-width : 768px) {
	.col-sm-c-2 {
		width: 100%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-c-2 {
		width: 50%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-c-2 {
		width: 50%;
		float: left;
	}
	.col-xs-c-3, .col-sm-c-3, .col-md-c-3, .col-lg-c-3 {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}
	.col-xs-c-3 {
		width: 33.33%;
		float: left;
	}
	@media ( min-width : 768px) {
		.col-sm-c-3 {
			width: 100%;
			float: left;
		}
	}
	@media ( min-width : 992px) {
		.col-md-c-3 {
			width: 33.33%;
			float: left;
		}
	}
	@media ( min-width : 1200px) {
		.col-lg-c-3 {
			width: 33.33%;
			float: left;
		}
	}
	.col-xs-c-5, .col-sm-c-5, .col-md-c-5, .col-lg-c-5 {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}
	.col-xs-c-5 {
		width: 20%;
		float: left;
	}
	@media ( min-width : 768px) {
		.col-sm-c-5 {
			width: 100%;
			float: left;
		}
	}
	@media ( min-width : 992px) {
		.col-md-c-5 {
			width: 20%;
			float: left;
		}
	}
	@media ( min-width : 1200px) {
		.col-lg-c-5 {
			width: 20%;
			float: left;
		}
	}
	.col-xs-c-6, .col-sm-c-6, .col-md-c-6, .col-lg-c-6 {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}
	.col-xs-c-6 {
		width: 16.66%;
		float: left;
	}
	@media ( min-width : 768px) {
		.col-sm-c-6 {
			width: 100%;
			float: left;
		}
	}
	@media ( min-width : 992px) {
		.col-md-c-6 {
			width: 16.66%;
			float: left;
		}
	}
	@media ( min-width : 1200px) {
		.col-lg-c-6 {
			width: 16.66%;
			float: left;
		}
	}
	.col-xs-c-7, .col-sm-c-7, .col-md-c-7, .col-lg-c-7 {
		position: relative;
		min-height: 1px;
		padding-right: 2px;
		padding-left: 2px;
	}
	.col-xs-c-7 {
		width: 14.28%;
		float: left;
	}
	@media ( min-width : 768px) {
		.col-sm-c-7 {
			width: 100%;
			float: left;
		}
	}
	@media ( min-width : 992px) {
		.col-md-c-6 {
			width: 14.28%;
			float: left;
		}
	}
	@media ( min-width : 1200px) {
		.col-lg-c-6 {
			width: 14.28%;
			float: left;
		}
	}
	.adjustPadding {
		padding-right: 1px;
		padding-left: 1px;
	}

	/*
for 768
*/
	.home .business-box .media-body {
		padding: 16px 30px 10px 26px;
		margin-right: 0;
	}
	.home .business-box .media-body p {
		margin-bottom: 0;
	}
	.home .business-box .media-body h4 {
		font-size: 15px;
	}

	/*
for 992
*/
	.home .business-box .media-body {
		padding: 15px 30px 10px 35px;
	}
	.home .business-box .media-body h4 {
		font-size: 19px;
	}

	/*
for 1200
*/
	.home .business-box {
		padding-bottom: 60px;
	}
	.home .business-box .media-body {
		padding: 32px 30px 10px 35px;
	}
}
