@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak, .ng-hide {
	display: none !important;
}

ng\:form {
	display: block;
}

.ng-animate-block-transitions {
	transition: 0s all !important;
	-webkit-transition: 0s all !important;
}

.ng-hide-add-active, .ng-hide-remove {
	display: block !important; . nav-side-menu ul .active, .nav-side-menu li
	.active { border-left : 3px solid #d19b3d;
	background-color: #c43c35;
}

}
.main_header_11st {
	color: #ffffff;
	height: 30px;
}

.bar_11st_user {
	font-size: 12px;;;
	font-weight:;
}

.btn_11st_bar {
	line-height: 0;
	border-radius: 1px;
	height: 10px;
	width: 80px;
	font-size: 15px;
}

.nav-side-menu {
	/*overflow: auto;*/
	font-family: verdana;
	font-size: 13px;
	font-weight: 600;
	background-color: #2e353d;
	position: fixed;
	top: 0px;
	color: #ffffff;
}

.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav-side-menu .toggle-btn {
	display: none;
}

.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	line-height: 35px;
	cursor: pointer;
	/*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before
	{
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 10px solid #586ce6;
	background-color: #d3d6e7;
}

.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a
	{
	color: #d19b3d;
}

.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #b6b8ca;
	border: none;
	line-height: 28px;
	border-bottom: 1px solid #cbcbd2;
	margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover
	{
	background-color: #ec6b4c;
}

.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before
	{
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #b5b7c7;
	color: #565656;
}

.nav-side-menu li a {
	text-decoration: none;
	color: inherit;
}

.nav-side-menu li:active {
	text-decoration: none;
	color: #35363c;
}

.nav-side-menu li:hover {
	text-decoration: none;
	color: #ffffff;
}

.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}

.nav-side-menu li:hover {
	border-left: 5px solid #ec6a4b;
	background-color: #596298;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

@media ( max-width : 960px) {
	.nav-side-menu {
		position: relative;
		width: 100%;
		margin-bottom: 10px;
	}
	.nav-side-menu .toggle-btn {
		display: block;
		cursor: pointer;
		position: initial;
		right: 10px;
		top: 10px;
		z-index: 10 !important;
		padding: 3px;
		background-color: #d3d6e7;
		color: #000;
		width: 40px;
		text-align: center;
	}
	.brand {
		text-align: left !important;
		font-size: 22px;
		padding-left: 20px;
		line-height: 50px !important;
	}
	.sktTmallairMain {
		margin-left: 0px;
	}
	.menu-col {
	/*
		height: 50px;
	*/
	}
}

@media ( min-width : 960px) {
	.nav-side-menu {
    	width: 16.666vw;
		height: 100%;
	}
	.nav-side-menu .menu-list .menu-content {
		display: block;
	}
	.menu-col {
		height: 100vh;
	}
	.sktTmallairMain {
/* 	} */
}

body {
	margin: 0px;
	padding: 0px;
}