<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="basisCdDao">

	<!-- 코드 분류 조회  -->
	<select id="getCdCtgrzList" resultType="java.util.HashMap">
	
		SELECT CD_CTGRZ,
		        CTGRZ_KRN_NM,
		        CTGRZ_ENG_NM,
		        CTGRZ_KRN_ABRVN,
		        CTGRZ_ENG_ABRVN,
		        SEQ_USE_YN,
	            RANK() OVER (ORDER BY CD_CTGRZ) RNK
	    FROM HIST_CD_CTGRZ
   		<where>
			<if test="searchCdCtgrz != null and searchCdCtgrz !=''">
				CD_CTGRZ LIKE '%' || upper(#{searchCdCtgrz}) || '%'
			</if>
		</where>
		
	</select>
	
	<!-- 코드분류 개수 조회 -->
	<select id="getCdCtgrzCnt" resultType="String">
		SELECT	COUNT(*) AS CNT
		FROM 	HIST_CD_CTGRZ
   		<where>
			<if test="searchCdCtgrz != null and searchCdCtgrz !=''">
				CD_CTGRZ LIKE '%' || upper(#{searchCdCtgrz}) || '%'
			</if>
		</where>
	</select>


<!-- 코드 분류에 대한 코드 리스트를 가져온다.. -->
	<select id="getCdList" resultType="java.util.HashMap">

		SELECT	CD,
				CD_CTGRZ,
				CD_KRN_NM,
				CD_ENG_NM,
				CD_KRN_ABRVN,
				CD_ENG_ABRVN,
				CD_SEQ,
				RMKS,
		        RANK() OVER (ORDER BY CD) RNK
		FROM 	HIST_CD
		WHERE
			CD_CTGRZ = #{searchCdCtgrz}

	</select>
	
	<select id="getCdCnt" resultType="String">
        SELECT	COUNT(*) AS CNT
		FROM 	HIST_CD
		WHERE
			CD_CTGRZ = upper(#{searchCdCtgrz})
		   		
	</select>
	
	<select id="getCdCtgrzAvail" resultType="String">
        SELECT	CASE WHEN 
        			COUNT(1) = 0 THEN 'Y'
	           	ELSE 'N' END AS AVAIL_YN
		FROM 	HIST_CD_CTGRZ
		WHERE 	CD_CTGRZ = #{CD_CTGRZ}
	</select>
	
	
	<insert id="insertCdCtgrz">
		INSERT INTO HIST_CD_CTGRZ
		(
			CD_CTGRZ,
	        CTGRZ_KRN_NM,
	        CTGRZ_ENG_NM,
	        CTGRZ_KRN_ABRVN,
	        CTGRZ_ENG_ABRVN,
	        SEQ_USE_YN,
	        DLT_YN,
	        RGST_DTIM,
	        CORCT_EMP_NUM,
	        RGST_EMP_NUM,
	        CORCT_DTIM
		)
		VALUES
		(
			#{CD_CTGRZ},
			#{CTGRZ_KRN_NM},
			#{CTGRZ_ENG_NM},
			#{CTGRZ_KRN_ABRVN},
			#{CTGRZ_ENG_ABRVN},
			#{SEQ_USE_YN},
			'N',
			SYSDATE,
			
			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				#{REG_USR_ID},
			</if>
			
			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				#{REG_USR_ID},
			</if>
			
			SYSDATE
		)
		
	</insert>
	
	<update id="updateCdCtgrz">
	
		UPDATE 	HIST_CD_CTGRZ
		SET			    
			CTGRZ_KRN_NM	=	#{CTGRZ_KRN_NM},
	        CTGRZ_ENG_NM	=	#{CTGRZ_ENG_NM},
	        CTGRZ_KRN_ABRVN =	#{CTGRZ_KRN_ABRVN},
	        CTGRZ_ENG_ABRVN =	#{CTGRZ_ENG_ABRVN},
	        SEQ_USE_YN		=	#{SEQ_USE_YN},
   			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				CORCT_EMP_NUM	=	#{REG_USR_ID},
			</if>
			CORCT_DTIM		=	SYSDATE
		WHERE
			CD_CTGRZ		=	#{CD_CTGRZ}
	</update>
	
	<delete id="deleteCdCtgrz">
	
<!-- 		DELETE FROM HIST_CD
	
		WHERE
			CD				=	#{CD}	
		AND
			CD_CTGRZ		=	#{CD_CTGRZ} -->
	</delete>
	
	<!-- 코드 키 값 체크  -->
	<select id="getCdAvail" resultType="String">
        SELECT	CASE WHEN 
        			COUNT(1) = 0 THEN 'Y'
	           	ELSE 'N' END AS AVAIL_YN
		FROM 	HIST_CD
		WHERE 	CD_CTGRZ = #{CD_CTGRZ}
		AND		CD = #{CD}
	</select>
	
	<insert id="insertCd">
		INSERT INTO HIST_CD
		(
			CD,
			CD_CTGRZ,
	        CD_KRN_NM,
	        CD_ENG_NM,
	        CD_KRN_ABRVN,
	        CD_ENG_ABRVN,
   			<if test="CD_SEQ != null and CD_SEQ !=''">
				CD_SEQ,
			</if>
			<if test="RMKS != null and RMKS !=''">
				RMKS,
			</if>
	        DLT_YN,
	        RGST_DTIM,
	        CORCT_EMP_NUM,
	        RGST_EMP_NUM,
	        CORCT_DTIM
		)
		VALUES
		(
			#{CD},
			#{CD_CTGRZ},
			#{CD_KRN_NM},
			#{CD_ENG_NM},
			#{CD_KRN_ABRVN},
			#{CD_ENG_ABRVN},
			<if test="CD_SEQ != null and CD_SEQ !=''">
				#{CD_SEQ},
			</if>
			<if test="RMKS != null and RMKS !=''">
				#{RMKS},
			</if>
			'N',
			SYSDATE,
			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				#{REG_USR_ID},
			</if>
			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				#{REG_USR_ID},
			</if>
			SYSDATE
		)
		
	</insert>
	
	<update id="updateCd">
	
		UPDATE 	HIST_CD
		SET			    
			CD_KRN_NM		=	#{CD_KRN_NM},
	        CD_ENG_NM		=	#{CD_ENG_NM},
	        CD_KRN_ABRVN	=	#{CD_KRN_ABRVN},
	        CD_ENG_ABRVN 	=	#{CD_ENG_ABRVN},
	        <if test="RMKS != null and RMKS !=''">
				RMKS			=	#{RMKS},
			</if>
	        
   			<if test="REG_USR_ID != null and REG_USR_ID !=''">
				CORCT_EMP_NUM	=	#{REG_USR_ID},
			</if>
			CORCT_DTIM		=	SYSDATE
		WHERE
			CD				=	#{CD}	AND
			CD_CTGRZ		=	#{CD_CTGRZ}
	</update>

	<delete id="deleteCd">
	
		DELETE FROM HIST_CD
	
		WHERE
			CD				=	#{CD}	
		AND
			CD_CTGRZ		=	#{CD_CTGRZ}
	</delete>

</mapper>