<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="mngEmpDao">
	
	<select id="getEmpList" resultType="java.util.HashMap">
		SELECT 	  rownum AS NUM,
				  EMP_NUM
				, EMP_NM
				, EMP_ENG_NM
				, USR_ID
				, PSWD
				, JOB_RK_CD
				, FON_NUM
				, MBLFON_NUM
				, FAX
				, EM
				, CTC_WRK_CTN
				, DTY_STTS_CD
				, DLT_CAU
				, RGST_EMP_NUM
		  FROM HIST_EMP
		 WHERE 1=1
		    AND DLT_YN = 'N'		   
		<if test="EMP_NUM != null and EMP_NUM !=''">
			AND EMP_NUM LIKE '%' || #{EMP_NUM} || '%'
		</if>
		<if test="EMP_NM != null and EMP_NM !=''">
			AND EMP_NM LIKE '%' || #{EMP_NM} || '%'
		</if>
	  ORDER BY EMP_NUM
	</select>
	
	<insert id="insertEmp">
		INSERT INTO HIST_EMP (
        	 EMP_NUM
			,EMP_NM
			,EMP_ENG_NM
			,USR_ID
			,PSWD
			,JOB_RK_CD
			,FON_NUM
			,MBLFON_NUM
			,FAX
			,EM
			,CTC_WRK_CTN
			,DTY_STTS_CD
			,DLT_CAU
			,DLT_YN
			,RGST_DTIM
			,RGST_EMP_NUM
        )
        VALUES (
	         #{EMP_NUM}
			,#{EMP_NM}
			,#{EMP_ENG_NM}
			,#{USR_ID}
			,#{PSWD}
			,#{JOB_RK_CD}
			,#{FON_NUM}
			,#{MBLFON_NUM}
			,#{FAX}
			,#{EM}
			,#{CTC_WRK_CTN}
			,#{DTY_STTS_CD}
			,#{DLT_CAU}
			,'N'
			,sysdate
			,#{RGST_EMP_NUM}
        )
	</insert>
	
	<update id="updateEmp">
		UPDATE HIST_EMP
		SET
			 EMP_NUM     = #{EMP_NUM}
			,EMP_NM      = #{EMP_NM}
			,EMP_ENG_NM  = #{EMP_ENG_NM}
			,USR_ID      = #{USR_ID}
			,PSWD        = #{PSWD}
			,JOB_RK_CD   = #{JOB_RK_CD}
			,FON_NUM     = #{FON_NUM}
			,MBLFON_NUM  = #{MBLFON_NUM}
			,FAX         = #{FAX}
			,EM          = #{EM}
			,CTC_WRK_CTN = #{CTC_WRK_CTN}
			,DTY_STTS_CD = #{DTY_STTS_CD}
			,DLT_CAU     = #{DLT_CAU}
			,CORCT_DTIM  = sysdate
			,CORCT_EMP_NUM = #{RGST_EMP_NUM}
		WHERE	EMP_NUM = #{EMP_NUM}
	</update>

	<update id="deleteEmp">
		UPDATE HIST_EMP
		SET DLT_YN = 'Y'
		WHERE EMP_NUM = #{EMP_NUM}
	</update>
	
</mapper>