<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mngMenuDao">
		
		
	<!-- 전체 메뉴 리스트 보여주기 -->
	<select id="getMenuList" resultType="java.util.HashMap">

<!-- 	20170214 - JJW 이전꺼	
		SELECT LPAD(' ', (level-1)*2, '.') || MENU_KRN_NM AS MENU_TREE, MENU_SEQ, MENU_CD FROM HIST_MENU
		START WITH HI_MENU_CD IS NULL
		CONNECT BY HI_MENU_CD = PRIOR MENU_CD -->
		
		<!-- 20170215 - JJW - 임과장님 쿼리  -->
        SELECT C.MENU_CD,
        	 C.MENU_CATE,
             C.MENU_ENG_NM,
             C.MENU_KRN_NM,
             C.MENU_URL,
             LPAD(' ', (level-1)*2, '_') || C.MENU_KRN_NM AS MENU_TREE,
             DECODE (C.USE_YN,  'Y', 1,  'N', 0) AS USE_YN,
             C.MENU_SEQ,
             NVL (C.HI_MENU_CD, '-') AS HI_MENU_CD,
             LEVEL - 1 AS MENU_LVL,
             DECODE (CONNECT_BY_ISLEAF, 0, 'N', 'Y') AS IS_LEAF,
             CONNECT_BY_ROOT C.MENU_CD AS ROOT_MENU_CD,
             SUBSTR (SYS_CONNECT_BY_PATH (C.MENU_KRN_NM, ' > '), 4) AS MENU_PATH,
             SYS_CONNECT_BY_PATH (LPAD (C.MENU_SEQ, 3, 0), '|') AS MENU_SEQ_GRD,
             C.SYS_CTGRZ_CD
        FROM HIST_MENU C
		WHERE C.SYS_CTGRZ_CD = '0001'
		<if test="MENU_CATE != null and MENU_CATE !=''">
		AND	 MENU_CATE = #{MENU_CATE}
		</if>
		CONNECT BY PRIOR C.MENU_CD = C.HI_MENU_CD AND 
		LEVEL BETWEEN 0 AND 2
		START WITH HI_MENU_CD IS NULL
		ORDER SIBLINGS BY C.MENU_SEQ ASC
				
		
	</select> 
	
	<select id="getLowerMenuList" resultType="java.util.HashMap">
		
		SELECT
				MENU_CD, 
				MENU_CATE,
                HI_MENU_CD,
			    MENU_KRN_NM, 
			    MENU_ENG_NM,
                MENU_URL,
                MENU_SEQ,
			    USE_YN,  
                SYS_CTGRZ_CD,
                DLT_YN,
                RGST_EMP_NUM,                            
			    RGST_DTIM,
			    CORCT_EMP_NUM,
			    CORCT_DTIM,
		        RANK() OVER (ORDER BY MENU_SEQ, MENU_CD) RNK
		FROM 	HIST_MENU
		<where>
			<if test="MENU_CD != null and MENU_CD !=''">
			
				HI_MENU_CD = upper(#{MENU_CD})
			</if>
			<if test="MENU_CATE != null and MENU_CATE !=''">
			
				MENU_CATE = upper(#{MENU_CATE})
			</if>
		</where>
	
	</select>
	
<!-- 	<select id="getMenuList" resultType="java.util.HashMap">
        SELECT	
				MENU_CD, 
                            HI_MENU_CD,
			    MENU_KRN_NM, 
			    MENU_ENG_NM,
                            MENU_URL,
                            MENU_SEQ,
			    USE_YN,  
                            SYS_CTGRZ_CD,
                            DLT_YN,
                            RGST_EMP_NUM,                            
			    RGST_DTIM,
			    CORCT_EMP_NUM,
			    CORCT_DTIM,
		        RANK() OVER (ORDER BY MENU_SEQ, MENU_CD) RNK
		FROM 	HIST_MENU
		
	</select> -->
	
	
	<insert id="insertLowerMenu">
		INSERT INTO HIST_MENU
		(
			MENU_CD,
			MENU_CATE,
			HI_MENU_CD,
			MENU_KRN_NM,
			<if test="MENU_ENG_NM != null and MENU_ENG_NM !=''">
				MENU_ENG_NM,
			</if>
			USE_YN,
			<if test="SYS_CTGRZ_CD != null and SYS_CTGRZ_CD !=''">
				SYS_CTGRZ_CD,
			</if>
			<if test="MENU_SEQ != null and MENU_SEQ !=''">
				MENU_SEQ,
			</if>
			<if test="MENU_URL != null and MENU_URL !=''">
				MENU_URL,
			</if>
			<if test="DLT_YN != null and DLT_YN !=''">
				DLT_YN,
			</if>
			<if test="RGST_EMP_NUM != null and RGST_EMP_NUM !=''">
				RGST_EMP_NUM,
			</if>
			RGST_DTIM,
			<if test="CORCT_EMP_NUM != null and CORCT_EMP_NUM !=''">
				#{CORCT_EMP_NUM},
			</if>
			CORCT_DTIM
		)
		VALUES
		(
			UPPER(#{MENU_CD}),
			#{MENU_CATE},
			UPPER(#{HI_MENU_CD}),
			#{MENU_KRN_NM},
			<if test="MENU_ENG_NM != null and MENU_ENG_NM !=''">
				#{MENU_ENG_NM},
			</if>
			UPPER(#{USE_YN}),
			<if test="SYS_CTGRZ_CD != null and SYS_CTGRZ_CD !=''">
				UPPER(#{SYS_CTGRZ_CD}),
			</if>
			<if test="MENU_SEQ != null and MENU_SEQ !=''">
				#{MENU_SEQ, jdbcType=NUMERIC},
			</if>
			<if test="MENU_URL != null and MENU_URL !=''">
				#{MENU_URL},
			</if>
			<if test="DLT_YN != null and DLT_YN !=''">
				#{DLT_YN},
			</if>
			<if test="RGST_EMP_NUM != null and RGST_EMP_NUM !=''">
				#{RGST_EMP_NUM},
			</if>
			SYSDATE,
			<if test="CORCT_EMP_NUM != null and CORCT_EMP_NUM !=''">
				#{CORCT_EMP_NUM},
			</if>
			
			SYSDATE
		)
	</insert>


	<update id="updateLowerMenu">
		UPDATE HIST_MENU
		SET
		MENU_KRN_NM = #{MENU_KRN_NM},
		MENU_ENG_NM = #{MENU_ENG_NM},
		MENU_SEQ	= #{MENU_SEQ},
		SYS_CTGRZ_CD = #{SYS_CTGRZ_CD},
		
		
		<if test="HI_MENU_CD != null">
				HI_MENU_CD = #{HI_MENU_CD},
		</if>
		<if test="MENU_URL != null">
				MENU_URL = #{MENU_URL},
		</if>
		<if test="CORCT_EMP_NUM != null">
				CORCT_EMP_NUM = #{CORCT_EMP_NUM},
		</if>
		<if test="CORCT_DTIM != null">
				CORCT_DTIM = SYSDATE,
		</if>
		DLT_YN = #{DLT_YN}
		
		WHERE	MENU_CD = #{MENU_CD}
		AND		MENU_CATE = #{MENU_CATE}
	</update>




	<delete id="deleteLowerMenu">
		DELETE FROM HIST_MENU
		WHERE MENU_CD = #{MENU_CD}
		AND		MENU_CATE = #{MENU_CATE}
	</delete>



	<insert id="insertMenuAuth">
		INSERT INTO TB_COM_CD310
		(
			GRP_AUTH_CD,
			MENU_CD,
			ENABLE_WRITE_YN,
			REG_USR_ID,
			REG_DTM
		)
		VALUES
		(
			UPPER(SUBSTR(#{GRP_AUTH_CD}, 0, INSTR(#{GRP_AUTH_CD}, ':') - 1)),
			UPPER(SUBSTR(#{MENU_CD}, 0, INSTR(#{MENU_CD}, ':') - 1)),
			UPPER(SUBSTR(#{ENABLE_WRITE_YN}, 0, INSTR(#{ENABLE_WRITE_YN}, ':') - 1)),
			#{REG_USR_ID},
			TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
		)
	</insert>
	
	<update id="updateMenu">
		UPDATE 	TB_COM_CD300
		SET	    
			MENU_KOR_NM = #{MENU_KOR_NM},
			<if test="MENU_ENG_NM != null">
				MENU_ENG_NM = #{MENU_ENG_NM},
			</if>
			USE_YN = UPPER(#{USE_YN}),
			<if test="UPPER_MENU_CD != null">
				UPPER_MENU_CD = UPPER(#{UPPER_MENU_CD}),
			</if>
			<if test="MENU_LEVEL != null">
				MENU_LEVEL = #{MENU_LEVEL, jdbcType=NUMERIC},
			</if>
			<if test="MENU_URL != null">
				MENU_URL = #{MENU_URL},
			</if>
			UPD_USR_ID = #{REG_USR_ID},
			UPD_DTM = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
		WHERE	MENU_CD = #{MENU_CD}
	</update>
	
	<update id="updateMenuAuth">
		UPDATE 	TB_COM_CD310
		SET	    
			ENABLE_WRITE_YN = UPPER(SUBSTR(#{ENABLE_WRITE_YN}, 0, INSTR(#{ENABLE_WRITE_YN}, ':') - 1)),
			UPD_USR_ID = #{REG_USR_ID},
			UPD_DTM = TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS')
		WHERE GRP_AUTH_CD = UPPER(SUBSTR(#{GRP_AUTH_CD}, 0, INSTR(#{GRP_AUTH_CD}, ':') - 1))
		AND MENU_CD = UPPER(SUBSTR(#{MENU_CD}, 0, INSTR(#{MENU_CD}, ':') - 1))
	</update>
	
	<delete id="delMenu">
		DELETE FROM TB_COM_CD300
		WHERE MENU_CD = #{MENU_CD}
	</delete>
	
	<delete id="delMenuAuth">
		DELETE FROM TB_COM_CD310
		WHERE GRP_AUTH_CD = UPPER(SUBSTR(#{GRP_AUTH_CD}, 0, INSTR(#{GRP_AUTH_CD}, ':') - 1))
		AND MENU_CD = UPPER(SUBSTR(#{MENU_CD}, 0, INSTR(#{MENU_CD}, ':') - 1))
	</delete>
	
</mapper>