<div class="popup" ng-cloak>
	<div class="container">
		<div class="air-header">
			<div class="air-title">
				<h4>직원 등록</h4>
				<div style="text-align: right !important;">
					<button type="button" class="btn btn-default search-btn-11st" ng-click="getEmpList()">
						<i class="fa fa-search"></i>
						&nbsp;&nbsp;조회
					</button>
					<button type="button" class="btn btn-default search-btn-11st" ng-click="saveEmp()">
						<i class="fa fa-save"></i>
						&nbsp;&nbsp;저장
					</button>
				</div>
			</div>


		</div>

		<div class="container air-body">
			<div class="row">
				<div class="col-md-12 left-grid-11st">
					<div class="container">
						<div class="row">
							<div class="col-md-6 left-grid-11st">
								<h5>직원 등록</h5>
							</div>
							<div class="col-md-12" style="text-align: right !important;">
<!-- 							Total Row: {{page_detailCd.totalItems || 0}}&nbsp;&nbsp; -->
							<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr btn-grid-11st" style="display:inline;" ng-click="addEmp()"><i class="fa fa-plus"></i></button>
							<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr btn-grid-11st" style="display:inline;" ng-click="delEmp()"><i class="fa fa-minus"></i></button>
							&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 left-grid-11st">
								<div id="empList" class="border-grid-11st" style="overflow: scroll; clear: both;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div id="modal-background"></div>
	<div id="modal-content"
		style="height: 400px; width: 800px !important; padding: 0px"
		class="popup-bg-11st">
		<div id="headerBar"
			style="height: 10px; background: #586ce6; border-radius: 10px 10px 0px 0px; border: 2px solid #586ce6;"></div>
		<div class="modal-header">
			<button type="button" class="close" id="modal-close2"
				aria-label="Close">
				<span aria-hidden="true" class="exitBtn">&times;</span>
			</button>
			<div class="panel-heading">
				<h3 class="panel-title">
					<b id="title_01" ng-click="colp_basicInfo = !colp_basicInfo">Preview</b>
				</h3>
			</div>
			<p>
			<p>
		</div>
		<div class="modal-body">
			<div class="row" style="margin-bottom: 5px;">

				<div class="col-md-12" style="padding-right: 10px;"></div>

				<div style="height: 25px; clear: both;"></div>

				<p ng-bind-html="renderHtml(thisCanBeusedInsideNgBindHtml)"></p>

			</div>
		</div>

	</div>

</div>
