<div class="popup" ng-cloak>

	<div class="container">
		<div class="air-header">
			<div class="air-title">
				<h4>백오피스 메뉴 권한 관리</h4>
				<div style="text-align: right !important;">
					<button type="button" class="btn btn-default search-btn-11st" ng-click="selectCdList()">
						<i class="fa fa-search"></i>
						&nbsp;&nbsp;SEARCH
					</button>
				</div>
			</div>

			<div class="air-search search-row-11st">
				<div class="row search-row-11st">
				
					<div class="col-md-2">
						<span>그룹 권한</span> 
						<select ng-model="selectedGrpAuthCd" class="btn form-air">
							<option value="">선택</option>
							<option ng-repeat="item in B03" value="{{item.code}}">{{item.name}}</option>
						</select>
					</div>
					
					<div class="col-md-2">
						<span>상위 메뉴명</span> 
						<select ng-model="selectedMenuLevel1" class="btn form-air">
							<option value="">선택</option>
							<option ng-repeat="item in MENUL1" value="{{item.code}}">{{item.name}}</option>
						</select>
					</div>
					
					<div class="col-md-2">
						<span>데이터수정 가능 여부</span> 
						<select ng-model="selectedCmbEnableWriteYn" class="btn form-air">
							<option value="">선택</option>
							<option ng-repeat="item in A08" value="{{item.code}}">{{item.name}}</option>
						</select>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container air-body">
			<div class="row">
				<div class="col-md-12 left-grid-11st">
					<div class="container">
						<div class="row">
							<div class="col-md-6 left-grid-11st">
								<h5>백오피스 메뉴 권한 리스트</h5>
							</div>
							<div class="col-md-6" style="text-align: right !important;">
								Total Row: {{page_cd.totalItems || 0}}&nbsp;&nbsp;
								<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr btn-grid-11st" style="display:none;" ng-click="addCd()">
								<i class="fa fa-plus"></i></button>
 								<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr" style="display:none;" ng-click="delCd()">
								<i class="fa fa-minus"></i></button>
								<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr btn-grid-11st" style="display:none;" ng-click="saveCd()">
								<i class="fa fa-floppy-o"></i></button>
								&nbsp;
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 left-grid-11st">
								<div id="hst_cd" class="border-grid-11st" style="overflow: scroll; clear: both;"></div>
								<div style='text-align: center;'>
									<pagination boundary-links="true" total-items="page_cd.totalItems"
										ng-model="page_cd.currentPage" ng-change="selectCdList()"
										items-per-page="page_cd.perPage" max-size="10"
										class="pagination-sm" previous-text="&lsaquo;"
										next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
									</pagination>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>