<div class="popup" ng-cloak>

	<div class="container">
		<div class="air-header">
			<div class="air-title">
				<h4>게시판 관리</h4>
				<div style="text-align: right !important;">
					<button type="button" class="btn btn-default search-btn-11st" ng-click="selectNtceList()">
						<i class="fa fa-search"></i> &nbsp;&nbsp;SEARCH
					</button>
				</div>
			</div>

			<div class="air-search search-row-11st">
				<div class="row search-row-11st">
					<div class="col-md-3">
						<span>메뉴명</span> <select ng-model="selectedNtceMenuCd" class="btn form-air">
							<option value="">-선택-</option>
							<option ng-repeat="item in ntceMenu_do" value="{{item.CODE}}">{{item.NAME}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="container air-body">
			<div class="row">
				<div class="col-md-12 left-grid-11st">
					<div class="container">
						<div class="row" ng-show="!contentsBool">
							<div class="col-md-6 left-grid-11st">
								<h5>게시판</h5>
							</div>
							<div class="col-md-6" style="text-align: right !important;">
								Total Row: {{totalItems || 0}}&nbsp;&nbsp;
								<button type="button" class="btn btn-default btn-2 btn-xs cudAuthCtr btn-grid-11st" ng-click="addNtce()">
									<i class="fa fa-plus"></i>
								</button>
								&nbsp;
							</div>
						</div>
						<div class="row" ng-show="!contentsBool">
							<div class="col-md-12 left-grid-11st">
								<div id="hst_ntce" class="border-grid-11st" style="overflow: scroll; clear: both;"></div>
							</div>
						</div>
						<div class="row" ng-show="contentsBool">
							<div class="col-md-12" style="padding-right: 10px;">
								<div class="input-group input-group-sm" style="float: left; width: 99%;">
									<span class="input-group-addon modalInputLabel_md popup-grid-11st">메뉴 *</span> <select ng-model="layer_input.MENU_CD" class="form-control ng-pristine cudAuthSelect selMenuCd">
										<option value="">-선택-</option>
										<option value="{{item.CODE}}" ng-repeat="item in ntceMenu_do">{{item.NAME}}</option>
									</select>
								</div>
								<div class="input-group input-group-sm" style="float: left; width: 99%;">
									<div class="input-group input-group-sm" style="float: left; width: 50%;">
										<span class="input-group-addon modalInputLabel_md popup-grid-11st">작성자</span> <input type="text" id="inp_RGST_EMP" name="inp_RGST_EMP" class="form-control ng-pristine popup-grid-radius" ng-model="layer_input.RGST_EMP" readonly>
									</div>
									<div class="input-group input-group-sm" style="float: right; width: 50%;">
										<span class="input-group-addon modalInputLabel_md popup-grid-11st">작성일</span> <input type="text" id="inp_RGST_DTIM" name="inp_RGST_DTIM" class="form-control ng-pristine popup-grid-radius" ng-model="layer_input.RGST_DTIM" readonly>
									</div>
								</div>
								<div class="input-group input-group-sm" style="float: left; width: 99%;">
									<div class="input-group input-group-sm" style="float: left; width: 50%;">
										<span class="input-group-addon modalInputLabel_md popup-grid-11st">게시여부 *</span> <select ng-model="layer_input.USE_YN" class="form-control ng-pristine popup-grid-radius cudAuthSelect">
											<option value="">-선택-</option>
											<option value="Y">Y</option>
											<option value="N">N</option>
										</select>
									</div>
									<div class="input-group input-group-sm" style="float: right; width: 50%;">
										<span class="input-group-addon modalInputLabel_md popup-grid-11st">정렬순서 *</span> <input type="text" id="inp_BLTN_SEQ" name="inp_BLTN_SEQ" class="form-control ng-pristine popup-grid-radius cudAuthInput" ng-model="layer_input.BLTN_SEQ" maxlength="5" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)' style='ime-mode: disabled;'>
									</div>
								</div>
								<div class="input-group input-group-sm" style="float: left; width: 99%;">
									<span class="input-group-addon modalInputLabel_md popup-grid-11st">제목 *</span> <input type="text" id="inp_TITL" name="inp_TITL" class="form-control ng-pristine popup-grid-radius cudAuthInput" ng-model="layer_input.TITL" maxlength="160">
								</div>
								<div class="input-group input-group-sm" style="float: left; width: 99%;">
									<span class="input-group-addon modalInputLabel_md popup-grid-11st">내용</span>
									<div class="col-md-12 left-grid-11st">
										<div id="homepage_ntce"></div>
									</div>
								</div>
							</div>
							<div style="height: 25px; clear: both;"></div>
							<div style="text-align: center">
								<button type="button" class="btn-f21-basic btn-1 btn-xs cudAuthCtr popup-btn-11st" ng-click="saveNtce()">저장</button>
								<button type="button" id="delBtn" class="btn-f21-basic btn-1 btn-xs cudAuthCtr popup-btn-11st" style="display: none;" ng-click="delNtce()">삭제</button>
								<button type="button" class="btn-f21-basic btn-1 btn-xs popup-btn-11st" id="modal-close" ng-click="cancelNtce()">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
