
<section id="home" class="module" data-ng-init="init()">
	<div ng-bind-html="renderHtml(subTitleContents)"></div>
</section>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="about-main" class="view" ng-show="BLTN_CRET_YN == 'Y'">
				<div class="view-inner" ng-show="!CONTENTS_BOOL">
					<div div class="image_main" style="text-align: center;">
						<div class="" style="overflow: hidden;">
							<div class="" style="position: relative; height: 500px;">
								<div class="container" style="position: inherit; top: 0px;">
									<div class="inner">
										<div class="section-title ">
											<h2 style="color: #008cbf;">{{grid_title}}</h2>
											<p>한진정보통신에서 알려드리는 {{grid_title}}</p>
										</div>
										<div class="boardArea">
											<div class="searchArea search02">
												<select title="공지사항 구분" name="SEARCH_GBN" id="SEARCH_GBN">
													<option value="all">전체</option>
													<option value="SUBJECT">제목</option>
													<option value="CONTENTS">내용</option>
												</select> <input type="text" title="검색어 입력" name="SEARCH_VALUE" id="SEARCH_VALUE" value="">
												<button type="button" class="btnSearch" id="SearchBtn">검색</button>
											</div>

											<table class="tblList accout" summary="">
												<colgroup>
													<col style="width: 9.248%;">
													<col style="width: *%">
													<col style="width: 20.227%;">
												</colgroup>
												<thead>
													<tr>
														<th scope="col" class="thNum">번호</th>
														<th scope="col">제목</th>
														<th scope="col">등록일</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="item in ntce_do">
														<td class="num">{{item.BLTN_NUM}}</td>
														<td class="subject"><a ng-click="boardClick(item.BLTN_NUM)">{{item.TITL}}</a></td>
														<td class="date">{{item.RGST_DTIM}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="view-inner" ng-show="CONTENTS_BOOL">
					<div ng-bind-html="renderHtml(ntceContents)">
					</div>
					<button type="button" class="btn btn-default" ng-click="backClick()">< back</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="about-main" class="view" ng-show="CNT_CRET_YN == 'Y'">
				<div ng-bind-html="renderHtml(subContents)"></div>
			</div>
		</div>
	</div>
</div>