<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<!-- jQuery library -->
<script src="/resources/js/jquery-1.12.4.min.js"></script>

<!-- AngularJS library -->
<script src="/resources/js/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>

<link href="/resources/css/bootstrap.css" rel="stylesheet">
<script src="/resources/js/bootstrap.js"></script>

<script src="/resources/js/frontCommon.js"></script>

<!-- customed css -->
<link href="/resources/css/index.css" rel="stylesheet" media="screen">

<script>
	(function($) {

		$('.page-scroll a').bind('click', function(e) {
			var anchor = $(this);
			$('html, body').stop().animate({
				scrollTop : $(anchor.attr('href')).offset().top
			}, 1000);
			e.preventDefault();
		});

		$(window).scroll(function() {
			if ($(this).scrollTop() > 100) {
				$('.scroll-up').fadeIn();
			} else {
				$('.scroll-up').fadeOut();
			}
		});

		$('a[href="#totop"]').click(function() {
			$('html, body').animate({
				scrollTop : 0
			}, 'slow');
			return false;
		});

	});
	(jQuery);
</script>

<!-- HTML5 shim and Respond.js IE8 support resources/js/HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.resources/js/1.4.2/respond.min.js"></script>
<![endif]-->

<title>한진정보통신</title>

</head>

<body ng-app="app_index" ng-controller="ctr_index" ng-cloak>

	<div class="navbar-wrapper" style="height: 51px;"">
		<div class="hist-affix affix" data-spy="affix" data-offset-top="79">

			<nav class="navbar navbar-default navbar-hist">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="/resources/image/ci1.png" width="120" height="20" style="margin-right: 15px;"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active">
							<li class="nav-item dropdown" ng-repeat="hi_menu in hi_menu_cd_do">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-target="#{{hi_menu.MENU_CD}}"> {{hi_menu.MENU_KRN_NM}} </a>
								<style scoped>
								.test-margin {
									
								}
								
								@media ( max-width : 992px) {
									.test-margin {
										margin-left: 0px !important;
										width: 100%;
									}
								}
								</style>
								<ul class="dropdown-menu test-margin" style="background-color: rgba(255, 255, 255, 0.9); 
									padding-top: 30px; margin-top: 0px; margin-left: -{{100+ (120* ($index+ 1))}}px">
									<li class="has-children hidden-sm" >
										<h4 style="text-align: -webkit-center;">{{hi_menu.MENU_KRN_NM}}</h4>
									</li>
									<li class="has-children">
										<ul ng-repeat="menu in menu_cd_do | filter: {HI_MENU_CD: hi_menu.MENU_CD} "
											style="padding-left: 20px;">
											<a ng-href="{{menu.MENU_URL}}">{{menu.MENU_KRN_NM}}</a>
										</ul>
									</li>
								</ul></li>

						</ul>
					</div>


					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>

		</div>
	</div>

	<div id="loading" style="display: none; position: absolute; width: 100%; z-index: 10000">
		<div class="spinner">
			<div class="rect1"></div>
			<div class="rect2"></div>
			<div class="rect3"></div>
			<div class="rect4"></div>
			<div class="rect5"></div>
		</div>
	</div>

	<div ng-view></div>

	<div class="bottom" style="background-color: #d8e5e9;">
		<div class="section-title">
			<a class="btn btn-bttm" href="#" role="button">책임의 한계 및 법적고지</a> <a class="btn btn-bttm" href="#" role="button">이메일주소 무단수집 거부</a> <a class="btn btn-bttm" href="#" role="button">개인정보취급방침</a> <a class="btn btn-bttm" href="#" role="button">그룹웨어</a> <a class="btn btn-bttm" href="#" role="button">전자사보</a>
		</div>
	</div>
	<div class="bottom">
		<div class="section-title" style="padding-top: 40px; padding-bottom: 40px;">
			<p>서울특별시 강서구 공항대로 453 (등촌동) Tel. (02) 2166-7114 Fax. (02) 2166-7070</p>
			<p>Copyright ⓒ 2017 hanjin Information Systems & Telecommunication Co., Ltd. All rights reserved</p>
		</div>
	</div>

	<script src="/resources/js/index.js"></script>
	<script src="/resources/js/frontMain.js"></script>
	<script src="/resources/js/frontSub.js"></script>

</body>
</html>



