<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HIST back office</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon"
	href="http://www.thenameofyoursitehere.com/favicon.ico">
<!-- jQuery library -->
<script src="/resources/js/jquery-1.12.4.min.js"></script>
<!-- AngularJS library -->
<script src="/resources/js/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
<link href="/resources/css/bootstrap.css" rel="stylesheet">
<script src="/resources/js/bootstrap.min.js"></script>
<link rel="stylesheet" media="screen" href="/resources/css/air.css">
<script src="/resources/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<!-- project bootbox js -->
<script type="text/javascript" src="/resources/js/bootbox.min.js"></script>
<!-- handsontable js -->
<script src="/resources/js/handsontable.0.29.full.js"></script>
<link rel="stylesheet" media="screen"
    href="/resources/css/handsontable.0.29.full.css">
<!-- handsontable ui custom js -->
<script src="/resources/js/jquery-ui.custom.min.js"></script>
<link rel="stylesheet" media="screen"
	href="/resources/css/jquery-ui.custom.min.css">
<script type="text/javascript" src="/resources/js/grid.common.0.2.9.js"></script>
<!-- jquery cookie js -->
<script src="/resources/js/jquery.cookie.min.js"></script>
<!-- project common js -->
<script type="text/javascript" src="/resources/js/common.js"></script>
<link rel="stylesheet" media="screen" href="/resources/css/menu.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
<link rel="stylesheet" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css">	
	
<!-- HTML5 shim and Respond.js IE8 support resources/js/HTML5 elements and media queries -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.resources/js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- <style type="text/css"> -->
<!--   menu.css로 이동 161020 -->
<!-- </style> -->
<script type="text/javascript" src="/resources/js/tinymce/tinymce.min.js"></script>
</head>
<body ng-app="app_main" ng-controller="ctr_main"
	style="overflow-x: hidden;" ng-cloak>
	<div class="container" style="padding-right: 0; padding-left: 0;">
		<div class="row">
			<div class="col-md-12"
				style="background-color: #586ce6; padding-top: 0px;">
				<div class="brand main_header_11st"
					style="display: inline-block; margin-left: 15px; width: 100px; font-weight: bold; margin-top: 10px;">
					<!-- img src="/resources/image/main_bo_2.png" width="80" height="24" style="position: absolute;" -->
					
				</div>
				<div
					style="display: inline-block; width: 400px; text-align: right; float: right; margin: 10px 10px; color: #ffffff;">
					<i class="fa fa-user"></i> <span style="font-weight: bold;"
						class="bar_11st_user">&nbsp;&nbsp;&nbsp;{{user_nm}} ({{user_id}}) 님</span>&nbsp;&nbsp;&nbsp;
					<a ng-click="logOutBtn()" href="#" button class="btn btn-lg btn-primary btn-11st-logout btn_11st_bar"
						role="button" style="width: 70px; display: inline-block; margin-right: 17px; padding: 10px 10px;">Logout</a>&nbsp;&nbsp;&nbsp;
				</div>
			</div>
		</div>
		<div class="row" style="height: 100%; position: absolute; width: 100vw">
			<div class="col-md-2 menu-col" style="padding-top: 0px;">
				<div class="nav-side-menu"
					style="position: inherit; background-color: #d3d6e7; z-index: 1;">
					<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
						data-target="#menu-content"></i>
					<div class="menu-list">
						<ul id="menu-content" class="menu-content collapse out">
							<li data-toggle="collapse" data-target="#{{main_menu.MENU_CD}}"
								class="collapsed active" ng-repeat="main_menu in main_menu_do">
								<a href="#"> <i class="fa fa-plane" aria-hidden="true"></i>{{main_menu.MENU_KOR_NM}} <span class="arrow"></span></a>
								<ul class="sub-menu collapse" id="{{main_menu.MENU_CD}}">
									<li
										ng-repeat="item in sub_menu_do | filter: {UPPER_MENU_CD: main_menu.MENU_CD} "
										ng-click="ChangeLocation('#/' + item.MENU_URL)">
										<a href="#/{{item.MENU_URL}}">{{item.MENU_KOR_NM}}</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 bg-grid-11st" style="height: 100vh">
				<div class="sktTmallairMain">
					<div class="container">
						<div class="row">
							<div class="col-md-12 ng-view-11st">
								<div id="loading"
									style="display: none; position: absolute; width: 100%; z-index: 10000">
									<div class="spinner">
										<div class="rect1"></div>
										<div class="rect2"></div>
										<div class="rect3"></div>
										<div class="rect4"></div>
										<div class="rect5"></div>
									</div>
								</div>
								<div ng-view></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/resources/js/main.js"></script>
	<script src="/resources/js/main/mngMenu.js"></script>
	<script src="/resources/js/main/mngMenuAuth.js"></script>
	<script src="/resources/js/main/mngContents.js"></script>
	<script src="/resources/js/main/mngImages.js"></script>
	<script src="/resources/js/content/mngNtce.js"></script>
	
</body>
</html>